---
layout: games
---

<div class="game_two_columns">
<iframe onclick="focusGame()" id="game" class="game_frame" src="{{ "games/" | absolute_url }}{{ page.game_url }}.html"></iframe>
<script>
  function focusGame {
    if (frames["game"] != undefined) frames["game"].focus();
    else document.getElementById("game").focus();
  }
</script> 
<div class="game_genre_list">
  <div class="game_genre_header">
    Options
  </div>
  <a class="game_button" href="{{ "games" | absolute_url }}">Back to Web Games</a>
  <a class="game_button" href="{{ "games/" | absolute_url }}{{ page.game_url }}.html" target="_blank">Open fullscreen</a>
  <a class="game_button" href="#" onclick="navigator.clipboard.writeText('{{page.url | absolute_url }}')">Copy link</a>
  <div class="game_list_header">
    Info
  </div>
    <div class="game_details">
    Author: {{ page.author }}<hr>
    Released: <i>{{ page.release_date }}</i><hr>
    </div>
</div>
</div>
<br>
<div class="game_about_header">Details</div>
<div class="game_about">
  {{ content }}
</div>
<br>
