---
layout: default
---

<a href="{{"/projects" | absolute_url }}" class="page_back">Return to Projects...</a><br>

<div class="card_{{ page.color }} project_tab">{{ page.title }}</div><div class="card_gold project_tab">
<a href="#" onclick="navigator.clipboard.writeText('{{page.url | absolute_url }}')">Copy link</a></div>
<div class="card_{{ page.color }} project_listing">
  <img class="project_banner" src="{{page.banner | absolute_url }}">
  <div class="project_columns">
      <div>
        <h2 class="page_title">About</h2><br>
        {{ content }}
      </div>
  
      <div class="downloads">
        <h2 class="page_title">Downloads</h2><br>
        {% for link in page.downloads %}
          {% if link.type == "big" %}
            <a class="download dl_big" href="{{ link.url }}">
              <img src="{{"/assets/images/download.png" | absolute_url }}"><span>{{ link.name }} ({{ link.size }})</span>
            </a><br>
          {% elsif link.type == "old" %}
            <a class="download dl_small" href="{{ link.url }}">
              <img src="{{"/assets/images/download_old.png" | absolute_url }}"><span>{{ link.name }} ({{ link.size }})</span>
            </a><br>
          {% else %}
            <a class="download dl_small" href="{{ link.url }}">
              <img src="{{"/assets/images/download_small.png" | absolute_url }}"><span>{{ link.name }} ({{ link.size }})</span>
            </a><br>
          {% endif %}
        {% endfor %}
      </div>
  </div>
</div>
